# 設定IP位址
IP = 'http://localhost:3000'

# 設定資料庫資訊
MySQL_HOST = '127.0.0.1'
MySQL_USER = 'root'
MySQL_PASSWORD = '密碼'
MySQL_DATABASE = '資料庫名'
MySQL_PORT = 3306

# 設定 ElasticSearch 資訊
ELASTICSEARCH_HOST = 'IP'
ELASTICSEARCH_PORT = 9200