* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
}

header {
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
}
header section.left {
  flex: 1 1 500px;
  display: flex;
  align-items: center;
}
header section.left a.logo {
  margin-left: 2rem;
}
header section.left a.logo img {
  width: 12vw;
}
header section.left nav {
  flex: 1 1 100px;
  align-items: center;
}
header section.left nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: space-around;
  letter-spacing: 0.25em;
}
header section.left nav ul li a {
  text-decoration: none;
}
header section.left nav ul li.line {
  font-size: 2rem;
}
header section.right {
  flex: 1 1 100px;
  display: flex;
  justify-content: right;
  align-items: center;
  margin-right: 100px;
}
header section.right a {
  margin: 0.5rem 0.5rem;
}
header section.right a img {
  width: 4vw;
  border: 1px solid white;
  border-radius: 20px;
}
header section.right h1.user-name {
  margin-left: 1rem;
}

main {
  display: flex;
  flex-wrap: wrap;
  min-height: 90vh;
}
main section#match {
  flex: 1 1 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main section#match h3 {
  padding: 1rem 0;
  letter-spacing: 0.5em;
}
main section#match div.partner {
  width: 100%;
  padding: 1rem 2rem;
  margin-bottom: 5px;
  background-color: rgb(255, 247, 165);
  color: #313538;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.2rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
main section#chatroom {
  position: relative;
  flex: 1 1 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main section#chatroom div#current-recommend {
  margin: 2rem 0;
  width: 60%;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.3);
}
main section#chatroom div#current-recommend div#front-cover {
  width: 100%;
  position: relative;
  top: 0;
  overflow: hidden;
  margin: 0 auto;
  min-height: 30vh;
  background-image: url(../images/pikabu.png);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main section#chatroom div#current-recommend div#front-cover div#candidate-cantainer {
  position: absolute;
  bottom: 0;
}
main section#chatroom div#current-recommend div#front-cover div#candidate-cantainer img#candidate-picture {
  height: 300px;
  -webkit-clip-path: circle();
          clip-path: circle();
}
main section#chatroom div#current-recommend h2#candidate-name {
  margin: 1.5rem 0;
}
main section#chatroom div#current-recommend h3#intro-title {
  margin-top: 1.5rem;
}
main section#chatroom div#current-recommend p#candidate-intro {
  margin: 1rem 5rem;
  text-align: center;
}
main section#chatroom div#title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  padding: 0.5rem 1rem;
  border-radius: 7px;
  background-color: rgb(255, 253, 248);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
main section#chatroom div#title h2.other-side {
  flex: 1 1 150px;
  width: 20%;
  margin-left: 2rem;
}
main section#chatroom div#title form#search-box {
  flex: 2 1 250px;
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid gray;
  border-radius: 20px;
  background-color: rgb(255, 253, 248);
}
main section#chatroom div#title form#search-box input#keyword {
  display: block;
  width: 300px;
  padding: 10px;
  margin: 0 2rem;
  border-radius: 0;
  border: none;
  background-color: rgb(255, 253, 248);
}
main section#chatroom div#title form#search-box input#keyword:focus {
  outline: none;
}
main section#chatroom div#title form#search-box button#btn-search {
  height: 30px;
  width: 30px;
  background-color: rgb(255, 253, 248);
  background-image: url(../images/search.png);
  background-size: cover;
  background-position: center;
  border: none;
  margin: 0 10px;
  cursor: pointer;
}
main section#chatroom div#dialogue {
  border: gray solid 2px;
  width: 100%;
  min-height: 65vh;
  margin: 0.5rem 0;
}
main section#chatroom div#dialogue ul.message {
  list-style-type: none;
}
main section#chatroom div#pass-msg {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
main section#chatroom div#pass-msg div#pass-msg form {
  display: inline-block;
}
main section#chatroom div#pass-msg form#text-msg,
main section#chatroom div#pass-msg form#picture-msg {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main section#chatroom div#pass-msg form#text-msg input#message,
main section#chatroom div#pass-msg form#picture-msg input#message {
  flex: 2 1 300px;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
main section#chatroom div#pass-msg form#text-msg input#picture,
main section#chatroom div#pass-msg form#picture-msg input#picture {
  flex: 2 1 250px;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
main section#chatroom div#pass-msg form#text-msg button,
main section#chatroom div#pass-msg form#picture-msg button {
  flex: 1 1 100px;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: rgb(255, 253, 248);
}
main section#current {
  flex: 1 1 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main section#current h3 {
  padding: 1rem 0;
  letter-spacing: 0.5em;
}
main section#current div#more-info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
main section#current div#more-info h3 {
  flex: 1 1 80px;
  text-align: center;
}
main section#current div#more-info div#cross {
  flex: 1 1 10px;
  height: 10px;
  width: 10px;
  background-color: transparent;
  background-image: url(../images/cross.png);
  background-size: cover;
  background-position: center;
  border: none;
  cursor: pointer;
}
main section#current div#partner-info {
  width: 100%;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  overflow: hidden;
}
main section#current div#partner-info div#partner-cantainer {
  display: flex;
  justify-content: center;
}
main section#current div#partner-info div#partner-cantainer img {
  height: 300px;
  -webkit-clip-path: circle();
          clip-path: circle();
  -o-object-fit: cover;
     object-fit: cover;
  margin: 2rem 0;
  margin-bottom: 20px;
  background-position: center;
}
main section#current div#partner-info div#partner-name {
  font-size: 2rem;
  font-weight: bold;
  margin: 0.5rem 0;
}
main section#current div#partner-info div#tags {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 0.3rem 0;
}
main section#current div#partner-info div#tags a.tag {
  flex: 1 1 20px;
  width: 50px;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  color: #3c3c3c;
  padding: 5px 10px;
  border-radius: 20px;
  background-color: #eaeaea;
  margin-right: 10px;
  margin-bottom: 10px;
}
main section#current div#partner-info div#intro {
  margin: 0.5rem 0;
  padding: 2rem 0;
}
main section#current div.next-recommend {
  margin: 1rem 0;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main section#current div.next-recommend img.next-picture {
  max-width: 200px;
  -webkit-clip-path: circle();
          clip-path: circle();
  margin-bottom: 1rem;
}
main section#current ul.search-message {
  list-style-type: none;
}
main section#current ul.search-message li {
  border: 1px solid gray;
  background-color: rgb(250, 238, 223);
  margin: 0.5rem 0.2rem;
}/*# sourceMappingURL=style.css.map */