:root {
  --header-height: 66px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
}

html,
body {
  height: 100vh;
}

body {
  position: relative;
}

// ---------------------- Header Setting --------------------------

header {
  padding: 8px 0;
  position: sticky;
  top: 0;
  z-index: 1;
  // background-color: rgb(244, 255, 184);
  display: flex;
  flex-wrap: wrap;
  // justify-content: space-around;
  align-items: center;
  margin: 0;
  // max-height: 50px;
  height: var(--header-height);

  section.left {
    flex: 1 1 500px;
    display: flex;
    align-items: center;

    a.logo {
      margin-left: 2rem;
      img {
        // flex: 1 1 100px;
        width: 15vw;
      }
    }

    // nav {
    //   flex: 1 1 100px;
    //   align-items: center;

    //   ul {
    //     display: flex;
    //     list-style-type: none;
    //     align-items: center;
    //     justify-content: space-around;

    //     li {
    //       a {
    //         // color: #3f3a3a;
    //         text-decoration: none;
    //         font-size: 1.3rem;
    //         letter-spacing: 2px;
    //       }
    //     }

    //     li.line {
    //       // color: #3f3a3a;
    //       font-size: 2rem;
    //       // font-weight: bold;
    //     }
    //   }
    // }
  }

  section.right {
    // border: 1px solid blue;
    flex: 1 1 100px;
    display: flex;
    // justify-content: space-around;
    // align-items: center;

    justify-content: right;
    align-items: center;
    margin-right: 1.8rem;

    div#profile {
      // border: 1px solid red;
      display: flex;
      align-items: center;
      cursor: pointer;

      img#profile-img {
        // flex: 1 1 100px;
        // margin: 0.5rem 0rem;
        width: 50px;
        height: 50px;
        // border: 1px solid white;
        // clip-path: circle();
        object-fit: cover;
        border-radius: 50%;
        background-position: center;
      }

      h1.user-name {
        margin-left: 0.5rem;
        font-size: 1.3rem;
        font-weight: bolder;
        letter-spacing: 2px;
      }
    }

    div#logout {
      // border: 1px solid red;
      padding: 0 1rem;
      font-size: 1rem;
      letter-spacing: 2px;
      color: rgb(66 32 6);
      cursor: pointer;
    }

    // a {
    //   img {
    //     // flex: 1 1 100px;
    //     width: 5vw;
    //   }
    // }
  }
}

// ---------------------- Main Setting --------------------------

main {
  display: flex;
  flex-wrap: wrap;
  // min-height: 90vh;
  max-height: calc(
    100vh - var(--header-height)
  ); /* adjust this value based on the height of your header */

  section#match {
    flex: 1 1 150px;
    // border: 2px solid red;
    // background-color: #ffede1;
    background-color: #ffd1d187;
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
      // flex: 2 1 100px;
      text-align: center;
      font-size: 1.25rem;
      font-weight: bolder;
      letter-spacing: 2px;
      color: rgb(66 32 6);
      padding-bottom: 8px;
      padding-top: 16px;
    }

    div.partner {
      width: 100%;
      padding: 16px 16px;
      // border: 1px solid blue;
      border-bottom-width: 1.5px;

      .partner-img {
        // clip-path: circle();
        // margin-right: 1rem;
        height: 60px;
        width: 60px;
        object-fit: cover;
        border-radius: 50%;
        background-position: center;
        // border: 1px solid red;
      }

      .name-msg-container {
        // border: 1px solid green;
        padding: 0 0.5rem;

        div {
          font-size: 1.3rem;
          font-weight: bolder;
          letter-spacing: 2px;
          color: rgb(66 32 6);
        }

        span {
          font-size: 0.7rem;
          letter-spacing: 1px;
        }
      }

      // width: 100%;
      // padding: 1rem 2rem;
      // // border: 1px solid gray;
      cursor: pointer;

      // margin-bottom: 5px;
      // background-color: rgb(255, 247, 165);
      // color: #313538;
      // // border-bottom: 1px solid gray;
      // border-radius: 4px;
      // // padding: 10px;
      // cursor: pointer;
      // font-size: 1.2rem;
      // box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
  }

  section#chatroom {
    background-color: #fff7da;
    position: relative;
    flex: 1 1 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    // flex-wrap: wrap;
    // border: 1px solid rgb(255, 187, 0);

    div#current-recommend {
      margin: 2rem 0;
      width: 50%;
      max-height: 80vh;
      // border: 1px solid gray;
      display: flex;
      flex-direction: column;
      // justify-content: space-evenly;
      align-items: center;
      text-align: center;
      border-radius: 0.5rem;
      box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.3);

      div#front-cover {
        width: 100%;
        position: relative;
        // top: 0;
        overflow: hidden;
        margin: 0 auto;
        height: 250px;
        background-image: url(../images/pikabu.png);
        background-size: cover;
        background-position: center;
        border-top-right-radius: 0.5rem;
        border-top-left-radius: 0.5rem;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        div#candidate-cantainer {
          // position: sticky;
          // display: flex;
          // justify-content: center;
          // margin: 1rem 0;

          position: absolute;
          bottom: 7px;

          img#candidate-picture {
            height: 170px;
            width: 170px;
            object-fit: cover;
            border-radius: 50%;
            background-position: center;

            // border: 5px solid white;
            // border-radius: 50%;
            // clip-path: circle();
          }
        }
      }

      h2.candidate-name {
        padding-top: 0.4rem;
        font-weight: bolder;
        letter-spacing: 2px;
        color: rgb(66 32 6);
      }

      div#sex-age {
        display: flex;
        justify-content: center;
        align-items: center;

        img#candidate-sex {
          height: 20px;
        }

        p#candidate-age {
          padding-left: 0.2rem;
        }
      }

      div#current-recommend-detail-info {
        width: 100%;
        max-height: 200px;
        overflow-y: auto;
        // border: 1px solid blue;

        div#candidate-tags {
          // border: 1px solid red;
          padding: 0.3rem 0;
          display: flex;
          justify-content: center;
          gap: 4px;
          flex-wrap: wrap;

          p.candidate-tag {
            padding: 0.2rem 0.6rem;
            // margin: 0 0.3rem;
            border: 1.5px solid #e3b04b;
            border-radius: 20px;
            background-color: transparent;
            color: rgb(66 32 6);
          }
        }

        h3#intro-title {
          font-size: 1rem;
          padding-top: 0.5rem;
          color: rgb(66 32 6);
        }

        p#candidate-intro {
          // border: 1px solid red;
          padding: 0.7rem 2rem;
          font-size: 1.2rem;
          text-align: center;
          color: rgb(66 32 6);
          max-height: 100px;
          // overflow-y: auto;
        }
      }

      div#choose-btn {
        display: flex;
        width: 100%;

        button {
          flex: 1 1 auto;
          padding: 0.5rem 1rem;
          margin: 0 0.3rem;
          background-color: rgb(255, 247, 165);
          color: #313538;
          // border-bottom: 1px solid gray;
          border-radius: 7px;
          cursor: pointer;
          font-size: 1.2rem;
          font-weight: 700;
          letter-spacing: 2px;
          color: rgb(66 32 6);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }
      }
    }

    div#chat-block {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 95%;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      margin-top: 8px;

      div#title {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        flex-wrap: wrap;
        padding: 0.5rem 1rem;
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
        background-color: rgb(255, 253, 248);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        border-bottom-width: 1px;

        h2.other-side {
          flex: 1 1 150px;
          width: 20%;
          // flex: 1 1 auto;
          // flex-basis: 20%;
          margin-left: 2rem;
          font-weight: bolder;
          letter-spacing: 2px;
          color: rgb(66 32 6);
        }

        form#search-box {
          flex: 2 1 250px;
          width: 50%;
          // flex: 2 1 auto;
          // flex-basis: 50%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          border: 1px solid gray;
          border-radius: 20px;
          background-color: rgb(255, 253, 248);

          input#keyword {
            display: block;
            width: 300px;
            padding: 5px 0;
            margin: 0 2rem;
            border-radius: 0;
            border: none;
            background-color: rgb(255, 253, 248);
          }

          input#keyword:focus {
            outline: none;
          }

          button#btn-search {
            height: 30px;
            width: 30px;
            background-color: rgb(255, 253, 248);
            background-image: url(../images/search.png);
            background-size: cover;
            background-position: center;
            border: none;
            margin: 0 10px;
            cursor: pointer;
          }
        }
      }

      div#dialogue {
        background-color: rgb(255, 253, 248);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        width: 100%;
        max-height: 70vh;
        min-height: 70vh;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        border-bottom-width: 1px;

        span.message-in-dialogue {
          display: flex;
          flex-direction: column;
          background-color: rgb(250, 238, 214);
          margin: 1rem 0.5rem;
          margin-right: auto;
          border-radius: 4px;
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

          span.single-message {
            display: inline;
            padding: 0.5rem;
          }

          span.timestamp {
            color: gray;
            font-size: 0.5rem;
            padding-left: 0.5rem;
          }
        }
      }

      div#pass-msg {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        background-color: rgb(255, 253, 248);
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        padding: 0.3rem 0.5rem;

        // div#pass-msg form {
        //   display: inline-block;
        // }

        form#text-msg {
          width: 100%;
          display: flex;
          justify-content: space-around;
          align-items: center;

          input#message {
            flex: 3 1 300px;
            padding: 0 10px;
            // margin-top: 5px;
            // border: 1px solid #ccc;
            border-radius: 4px;
          }

          input#message:focus {
            outline: none;
          }

          button {
            height: 35px;
            width: 35px;
            background-color: transparent;
            background-image: url(../images/send.png);
            background-size: cover;
            background-position: center;
            border: none;
            padding: 0 10px;
            cursor: pointer;
          }

          label {
            border: none;
            height: 35px;
            width: 35px;
            background-color: transparent;
            background-image: url(../images/upload.png);
            background-size: cover;
            background-position: center;
            border: none;
            padding: 0 10px;
            cursor: pointer;
          }

          input#picture-upload:focus {
            outline: none;
          }
        }

        form#picture-msg {
          width: 100%;
          display: flex;
          justify-content: space-around;
          align-items: center;
          // border: 1px solid red;

          input#picture {
            flex: 3 1 300px;
            padding: 10px;
            margin-top: 5px;
            border: 1px solid #ccc;
            border-radius: 4px;
          }

          button {
            flex: 1 1 200px;
            padding: 10px;
            margin-top: 5px;
            border: 1px solid #ccc;
            border-radius: 4px;
            background-color: rgb(255, 253, 248);
          }
        }
      }
    }
  }
  section#current {
    flex: 1 1 150px;
    // border: 2px solid red;
    background-color: #ffd1d1;
    // text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
      padding: 1rem 0;
    }

    div#more-info {
      // border: 1px solid blue;
      display: flex;
      justify-content: space-around;
      align-items: center;

      h3 {
        flex: 2 1 100px;
        text-align: center;
        font-size: 1.25rem;
        font-weight: bolder;
        letter-spacing: 2px;
        color: rgb(66 32 6);
        padding-bottom: 8px;
        padding-top: 16px;
      }

      div#cross {
        // flex: 1 1 50px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      div#cross {
        flex: 1 1 10px;
        img {
          height: 10px;
          width: 10px;
        }
        cursor: pointer;
      }
    }

    div#partner-info {
      // border: 1px solid blue;
      // width: 100%;
      // max-height: 60vh;
      display: flex;
      flex-direction: column;
      // justify-content: space-around;
      justify-content: center;
      align-items: center;
      max-height: 80vh;
      overflow-y: auto;
      gap: 2rem;

      img#partner-img {
        height: 120px;
        width: 120px;
        margin: 0 auto;
        object-fit: cover;
        border-radius: 50%;
        background-position: center;
      }
      // }

      div#partner-name {
        font-size: 1.5rem;
        font-weight: bolder;
        letter-spacing: 2px;
        color: rgb(66 32 6);
        // margin: 0.5rem 0;
      }

      div#partner-sex-age {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20%;
        margin: 0 auto;

        img#partner-sex {
          height: 20px;
        }
      }

      div#tags {
        display: flex;
        justify-content: center;
        gap: 4px;
        align-items: center;
        flex-wrap: wrap;
        margin: 0.3rem 0;

        p.tag {
          // width: 60px;
          text-align: center;
          // flex: 1 1 60px;
          font-size: 1rem;
          padding: 0.2rem 0.6rem;
          margin: 0.3rem 0.3rem;
          border: 1.5px solid #fff7ed;
          border-radius: 20px;
          background-color: #fff7ed;
          color: rgb(66 32 6);
        }
      }

      div#partner-intro {
        font-size: 1rem;
        padding: 1.5rem 1.5rem;
        color: rgb(66 32 6);
      }
    }

    div#next-recommend-list {
      // border: 1px solid red;
      width: 100%;
      display: flex;
      flex-direction: column;
      max-height: 80vh;
      overflow-y: auto;
      padding-left: 20px;
      padding-top: 10px;

      div.next-recommend {
        // border: 1px solid white;
        padding-bottom: 2rem;
        width: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;

        img.next-picture {
          height: 120px;
          width: 120px;
          // border: 5px solid white;
          // border-radius: 50%;
          // clip-path: circle();
          object-fit: cover;
          border-radius: 50%;
          background-position: center;
          margin-bottom: 1rem;
        }

        h2.next-name {
          // border: 1px solid yellow;
          padding-bottom: 1rem;
          font-size: 1.3rem;
          font-weight: bolder;
          letter-spacing: 2px;
          color: rgb(66 32 6);
        }

        div#next-tags {
          // border: 1px solid yellow;
          display: flex;
          justify-content: center;
          gap: 4px;
          align-items: center;
          flex-wrap: wrap;

          p.candidate-tag {
            // width: 60px;
            text-align: center;
            // flex: 1 1 60px;
            font-size: 1rem;
            padding: 0.2rem 0.6rem;
            margin: 0.3rem 0.3rem;
            border: 1.5px solid #fff7ed;
            border-radius: 20px;
            background-color: #fff7ed;
            color: rgb(66 32 6);
          }
        }
      }
    }

    div.search-message {
      background-color: #ffeaea;
      margin: 0.5rem;
      border-radius: 10px;
      p {
        text-align: center;
        font-size: 1rem;
        padding: 0.5rem;
      }

      div.single-message {
        border: none;
        font-size: 1rem;
        text-align: start;
        padding-left: 0.5rem;
      }

      div.timestamp {
        border: none;
        color: gray;
        font-size: 0.5rem;
        text-align: start;
        padding-left: 0.5rem;
      }
    }
  }
}
