* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
}

// ---------------------- Header Setting --------------------------

header {
  // padding: 0.5rem 0;
  position: sticky;
  top: 0;
  z-index: 1;
  // background-color: rgb(244, 255, 184);
  display: flex;
  flex-wrap: wrap;
  // justify-content: space-around;
  align-items: center;
  margin: 0;

  section.left {
    flex: 1 1 500px;
    display: flex;
    align-items: center;

    a.logo {
      margin-left: 2rem;
      img {
        // flex: 1 1 100px;
        width: 12vw;
      }
    }

    nav {
      flex: 1 1 100px;
      align-items: center;
      ul {
        display: flex;
        list-style-type: none;
        align-items: center;
        justify-content: space-around;
        letter-spacing: 0.25em;

        li {
          a {
            // color: #3f3a3a;
            text-decoration: none;
            // font-size: 1.2rem;
          }
        }

        li.line {
          // color: #3f3a3a;
          font-size: 2rem;
          // font-weight: bold;
        }
      }
    }
  }

  section.right {
    flex: 1 1 100px;
    display: flex;
    // justify-content: space-around;
    // align-items: center;

    justify-content: right;
    align-items: center;
    margin-right: 100px;

    a {
      margin: 0.5rem 0.5rem;
      img {
        // flex: 1 1 100px;
        width: 4vw;
        border: 1px solid white;
        border-radius: 20px;
      }
    }

    h1.user-name {
      margin-left: 1rem;
    }

    // a {
    //   img {
    //     // flex: 1 1 100px;
    //     width: 5vw;
    //   }
    // }
  }
}

// ---------------------- Main Setting --------------------------

main {
  display: flex;
  flex-wrap: wrap;
  min-height: 90vh;

  section#match {
    flex: 1 1 200px;
    // border: 2px solid red;
    // background-color: rgb(225, 253, 207);
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
      padding: 1rem 0;
      letter-spacing: 0.5em;
    }

    div.partner {
      width: 100%;
      padding: 1rem 2rem;
      // border: 1px solid gray;
      // cursor: pointer;

      margin-bottom: 5px;
      background-color: rgb(255, 247, 165);
      color: #313538;
      // border-bottom: 1px solid gray;
      border-radius: 4px;
      // padding: 10px;
      cursor: pointer;
      font-size: 1.2rem;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
  }

  section#chatroom {
    position: relative;
    flex: 1 1 500px;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    align-items: center;
    // flex-wrap: wrap;
    // border: 1px solid rgb(255, 187, 0);

    div#current-recommend {
      // position: ;
      margin: 2rem 0;
      width: 60%;
      min-height: 60vh;
      // border: 1px solid gray;
      display: flex;
      flex-direction: column;
      // justify-content: space-evenly;
      align-items: center;
      text-align: center;
      border-radius: 0.5rem;
      box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.3);

      div#front-cover {
        width: 100%;
        position: relative;
        top: 0;
        overflow: hidden;
        margin: 0 auto;
        min-height: 30vh;
        background-image: url(../images/pikabu.png);
        background-size: cover;
        background-position: center;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        div#candidate-cantainer {
          // position: sticky;
          // display: flex;
          // justify-content: center;
          // margin: 1rem 0;

          position: absolute;
          bottom: 0;
          // clip-path: circle();

          img#candidate-picture {
            height: 300px;
            // width: 200pxs;

            // border: 5px solid white;
            // border-radius: 50%;
            clip-path: circle();
          }
        }
      }
      h2#candidate-name {
        margin: 1.5rem 0;
      }

      h3#intro-title {
        margin-top: 1.5rem;
      }

      p#candidate-intro {
        margin: 1rem 5rem;
        text-align: center;
      }
    }

    div#title {
      // display: flex;
      justify-content: space-between;
      align-items: center;

      h2.other-side {
        flex: 1 1 100px;
      }

      form#search-box {
        flex: 1 1 50px;
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid gray;
        border-radius: 20px;

        input#keyword {
          display: block;
          width: 200px;
          padding: 0;
          margin-top: 0;
          border-radius: 0;
          border: none;
        }

        input#keyword:focus {
          outline: none;
        }

        button#btn-search {
          height: 30px;
          width: 30px;
          background-color: transparent;
          background-image: url(../images/search.png);
          background-size: cover;
          background-position: center;
          border: none;
          margin: 0;
          cursor: pointer;
        }
      }
    }

    div#dialogue {
      border: gray solid 2px;
      // width: 500px;
      min-height: 65vh;

      ul.message {
        list-style-type: none;
      }
    }
  }
  section#current {
    flex: 1 1 200px;
    // border: 2px solid red;
    // background-color: rgb(250, 235, 215);
    // text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
      padding: 1rem 0;
      letter-spacing: 0.5em;
    }

    div#more-info {
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      h3 {
        flex: 1 1 80px;
      }

      div#cross {
        flex: 1 1 10px;
        height: 10px;
        width: 10px;
        background-color: transparent;
        background-image: url(../images/cross.png);
        background-size: cover;
        background-position: center;
        border: none;
        cursor: pointer;
      }
    }

    div#partner-info {
      // border: 1px solid blue;
      min-height: 60vh;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;

      img {
        width: 150px;
        // border: 5px solid white;
        // border-radius: 50%;
        clip-path: circle();
        margin: 0.3rem 0;
      }

      div#partner-name {
        font-size: 1.5rem;
        font-weight: bold;
        margin: 0.3rem 0;
      }

      div#tags {
        display: flex;
        flex-wrap: wrap;
        margin: 0.3rem 0;

        a.tag {
          flex: 1 1 20px;
          font-weight: bold;
          text-decoration: none;
        }
      }

      div#intro {
        margin: 0.5rem 0;
      }
    }

    div.next-recommend {
      margin: 1rem 0;
      width: 300px;
      display: flex;
      flex-direction: column;
      align-items: center;

      img.next-picture {
        max-width: 200px;
        // border: 5px solid white;
        // border-radius: 50%;
        clip-path: circle();
        margin-bottom: 1rem;
      }

      // h2.next-name {
      //   // margin: 1rem 0;
      // }
    }

    ul.search-message {
      list-style-type: none;

      li {
        border: 1px solid gray;
        background-color: rgb(250, 238, 223);
        margin: 0.5rem 0.2rem;
      }
    }
  }
}
