main {
  display: flex;
  justify-content: space-around;
  width: 100%;
  // border: red solid 1px;
  form#signUp,
  form#signIn {
    flex: 1 1 100px;
    margin: 0 5rem;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  form#signUp {
    background-color: #d3ffbb;
  }

  form#signIn {
    background-color: #bbbbbb;
  }
}
