main.ftco-section {
  justify-content: center;
  align-items: center;

  div#login-block {
    width: 70%;

    div.wrap {
      height: 80vh;

      div.login-wrap {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        div#title {
          display: flex;
          justify-content: space-around;
          text-align: center;
          font-size: 1.5rem;
          font-weight: bold;
          color: #302529;
        }

        form#login {
          div.form-group {
            label {
              font-size: 1rem;
            }
          }
        }
        p.text-center {
          a {
            color: #f372a7;
            cursor: pointer;
          }
        }
      }
    }
  }
}
