:root {
  --box-height: 40px;
  --border-radius: 8px;
  --space-between: 20px;
  --font-size: 16px;

  --color-1: #feeecd;
  --color-2: #c5c3c6;
  --color-3: #422006;
  --color-4: #67320a;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

body {
  /* padding: 0 10px; */
  background-image: url("../images/survey_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

#survey-container {
  margin: 20px auto;
  padding: 30px 20px;
  width: 100%;
  max-width: 840px;
  border-radius: calc(3 * var(--border-radius));
}

#survey-form {
  position: relative;
  padding: 30px;
  padding-top: 20px;
  background: var(--color-1);
  opacity: 90%;
  border: none;
  border-radius: calc(2 * var(--border-radius));
  min-height: 70vh;
}

#survey-form * {
  font-size: var(--font-size);
}

#survey-form #loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  background-image: url(../images/loading.gif);
  background-size: cover;
  background-position: center;
}

#title {
  margin: 30px 0;
  text-align: center;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 2rem;
  text-transform: capitalize;
  color: var(--color-3);
  letter-spacing: 2px;
}

.row-label,
.row-input {
  padding: 5px 10px;
  margin: 0;
  height: var(--box-height);
  width: 100%;
  display: block;
}

.row-label {
  color: var(--color-3);
  font-weight: 600;
}

.row-label:not(:first-child) {
  margin-top: var(--space-between);
}

.row-input:not(.small) {
  background: white;
  border: none;
  border-radius: var(--border-radius);
}

.inline-label {
  margin-left: 10px;
  font-size: 14px;
  color: var(--color-3);
}

.small {
  height: calc(var(--box-height) * 0.75);
}

#self-intro {
  padding: 10px;
  margin: 0;
  height: 300px;
  width: 100%;
  background: white;
  border: none;
  border-radius: var(--border-radius);
  resize: none;
  color: var(--color-3);
}

#match-info {
  margin-top: calc(2 * var(--space-between));
  height: var(--box-height);
  width: 100%;
  background: var(--color-4);
  border: none;
  border-radius: var(--border-radius);
  color: white;
  font-weight: 600;
  cursor: pointer;
  text-transform: capitalize;
}

#match-info:hover {
  box-shadow: 0 0 2px var(--color-3);
}

/* --------------- 上傳照片 -------------------- */
.container {
  max-width: 960px;
  margin: 30px auto;
  padding: 20px;
}

h1 {
  font-size: 20px;
  text-align: center;
  margin: 20px 0 20px;
}
h1 small {
  display: block;
  font-size: 15px;
  padding-top: 8px;
  color: gray;
}

.avatar-upload {
  position: relative;
  max-width: 205px;
  margin: 50px auto;
}
.avatar-upload .avatar-edit {
  position: absolute;
  right: 12px;
  z-index: 1;
  top: 10px;
}
.avatar-upload .avatar-edit input {
  display: none;
}
.avatar-upload .avatar-edit input + label {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin-bottom: 0;
  border-radius: 100%;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  background-color: rgba(255, 255, 255, 0.9);
  background-image: url(../images/edit.png);
  background-size: contain;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-position: center;
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
}
.avatar-upload .avatar-edit input + label:hover {
  /* background: #f1f1f1; */
  background-color: rgb(216, 216, 216, 0.9);
  border-color: #d6d6d6;
}
.avatar-upload .avatar-edit input + label:after {
  /* content: "\f040"; */
  font-family: "FontAwesome";
  color: rgb(216, 216, 216, 0.9);
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
}
.avatar-upload .avatar-preview {
  width: 192px;
  height: 192px;
  position: relative;
  border-radius: 100%;
  border: 6px solid #f8f8f8;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.avatar-upload .avatar-preview > div {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
} /*# sourceMappingURL=survey1.css.map */

/* 性別 */
@import url("https://fonts.googleapis.com/css?family=Lato");
.sex {
  display: block;
  position: relative;
  margin: 40px auto;
  height: auto;
  width: 500px;
  padding: 20px;
}

h2 {
  color: #3f3a3a;
}

.sex ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: auto;
  display: flex;
}

.container ul li {
  color: #4f4949;
  display: block;
  position: relative;
  float: left;
  width: 100%;
  height: 100px;
}

.container ul li input[type="radio"] {
  position: absolute;
  visibility: hidden;
}

.container ul li label {
  display: block;
  position: relative;
  font-weight: 300;
  font-size: 1.35em;
  padding: 25px 25px 25px 80px;
  margin: 10px auto;
  height: 30px;
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
}

.container ul li:hover label {
  color: #cc9266;
}

.container ul li .check {
  display: block;
  position: absolute;
  border: 5px solid #4f494984;
  border-radius: 100%;
  height: 25px;
  width: 25px;
  top: 30px;
  left: 20px;
  z-index: 5;
  transition: border 0.25s linear;
  -webkit-transition: border 0.25s linear;
}

.container ul li:hover .check {
  border: 5px solid #cc9266;
}

.container ul li .check::before {
  display: block;
  position: absolute;
  content: "";
  border-radius: 100%;
  height: 10px;
  width: 10px;
  top: 2.4px;
  left: 2.9px;
  margin: auto;
  transition: background 0.25s linear;
  -webkit-transition: background 0.25s linear;
}

input[type="radio"]:checked ~ .check {
  border: 5px solid #67320a;
}

input[type="radio"]:checked ~ .check::before {
  background: #67320a;
}

input[type="radio"]:checked ~ label {
  color: #67320a;
}

/* 性傾向 */
.sexual-orientation {
  display: block;
  position: relative;
  margin: 40px auto;
  height: auto;
  width: 500px;
  padding: 20px;
}

.sexual-orientation ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: auto;
  display: flex;
}

/* 尋找年齡範圍 */
.age-range-slider {
  width: 100%;
  float: left;
  padding: 10px 20px;
}
.age-range-slider .range-value {
  margin: 0;
}
.age-range-slider .range-value input {
  width: 100%;
  background: none;
  color: #000;
  font-size: 16px;
  font-weight: initial;
  box-shadow: none;
  border: none;
  margin: 20px 0 20px 0;
  text-align: center;
}
.age-range-slider .range-bar {
  border: none;
  background: #cc9266;
  height: 3px;
  width: 50%;
  margin: 0 auto;
}
.age-range-slider .range-bar .ui-slider-range {
  background: #67320a;
}
.age-range-slider .range-bar .ui-slider-handle {
  border: none;
  border-radius: 25px;
  background: #fff;
  border: 2px solid #67320a;
  height: 17px;
  width: 17px;
  top: -0.52em;
  cursor: pointer;
}
.age-range-slider .range-bar .ui-slider-handle + span {
  background: #67320a;
}
